@use '../../utils/mixins' as *;

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 275px;
  margin: 0 auto;
  border-radius: 30px;

  @include tablet {
    gap: 16px;
    max-width: 558px;
  }
}
