@use '../../utils/mixins' as *;

.vpr {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 571px;
  margin: 0 auto;

  background-color: rgba(255, 255, 255, 1);

  @include tablet {
    height: 550px;
    background-image: url(../images/Shapes-640.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 40% -80%;
  }

  &__title {
    @include tablet {
      width: 450px;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 280px;
    margin: 0 auto;

    @include tablet {
      width: 570px;
    }
  }

  &__apply-button {
    width: 280px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 32px;
    border-radius: 8px;
    background-color: rgba(20, 78, 212, 1);
    border: none;

    @include tablet {
      width: 264px;
      margin-top: 40px;
    }
  }
}
